@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    min-width: 0;
    overflow-x: hidden;
    background: #050505;
    color: #fff;
    font-family: var(--font-poppins);
  }

  img {
    object-fit: cover;
  }
}

